@use "sass:math";

// push-auto - отодвинуть автоматически
@mixin push-auto {
  margin: {
    right: auto;
    left: auto;
  }
}

// pseudo - генерация псевдоэлементов
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  position: $pos;
  display: $display;
}

// breakpoints - массив с размерами для медиазапросов
$breakpoints: (
        "phone": 400px,
        "phone-wide": 480px,
        "phablet": 560px,
        "tablet-small": 640px,
        "tablet": 768px,
        "tablet-wide": 1024px,
        "desktop": 1248px,
        "desktop-wide": 1440px,
);

// mq - функция для генерации медиазапросов
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width + 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// TO % - функция для перевода пикселей в проценты
@function mprc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;

  @return $result;
}

// REM - функция для перевода пикселей в rem
@function mrem($px) {
  $result: math.div($px, 16) + rem;

  @return $result;
}

// EM - функция для перевода пикселей в em
@function mem($px, $fs) {
  $result: math.div($px, $fs) + em;

  @return $result;
}

// mprcp - функция для перевода пикселей в проценты с учетом размера шрифта
@function mprcp($pxOne, $pxTwo, $pxThree) {
  $result: math.div(math.div($pxOne, $pxTwo) * 100, 100) * $pxThree + px;

  @return $result;
}